  <style type="text/css">
  table.fancy
  {
    margin: 1em 1em 1em 0;
    border-collapse: collapse;
  }
  table.fancy th, table.fancy td
  {
    border: solid 1px silver;
    padding: 0.2em;
  }
  table.fancy th
  {
    background: gainsboro;
    border: solid 1px silver;
  }
  table#indicator
  {
    
  }
  table.fancy tr#info
  {
    text-align: right;
    font-size: 0.8em;
  }
  table.fancy td#status
  {
  }
  table.fancy tr#padding_tr td
  {
    border: 0 !important;
    padding-bottom: 0.5em;
  } 
  </style>
